@font-face {
  font-family: "iconfont"; /* Project id 4216927 */
  src: url('iconfont.woff2?t=1704184572498') format('woff2'),
       url('iconfont.woff?t=1704184572498') format('woff'),
       url('iconfont.ttf?t=1704184572498') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60a";
}

.icon-tongji:before {
  content: "\e606";
}

.icon-daorudaochu1:before {
  content: "\e607";
}

.icon-gongzuotai1:before {
  content: "\e608";
}

.icon-yunyingpingtai:before {
  content: "\e609";
}

.icon-yunyingpingtai_fuzhi:before {
  content: "\e604";
}

.icon-icon_ku-xian:before {
  content: "\e639";
}

.icon-xiazai:before {
  content: "\ec1d";
}

.icon-shangchuan:before {
  content: "\ec1e";
}

.icon-yiyuan:before {
  content: "\e660";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-fenxi:before {
  content: "\e701";
}

.icon-gerenzhongxin:before {
  content: "\e643";
}

.icon-tuichu:before {
  content: "\e630";
}

.icon-0kehutongji:before {
  content: "\e62c";
}

.icon-yunyingkanban:before {
  content: "\e61a";
}

.icon-qitgongzuotai1:before {
  content: "\e812";
}

.icon-yunyingguanli:before {
  content: "\ebd1";
}

.icon-daorudaochu:before {
  content: "\e63f";
}

.icon-gongzuotai:before {
  content: "\e63c";
}

.icon-yanzhengma:before {
  content: "\e624";
}

.icon-mima:before {
  content: "\e697";
}

.icon-zhanghao:before {
  content: "\e655";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-xitong:before {
  content: "\e67c";
}

.icon-shengpi:before {
  content: "\e63b";
}

.icon-gongdanqueren:before {
  content: "\ec36";
}

.icon-yonghuguanli:before {
  content: "\e659";
}

.icon-shenqing:before {
  content: "\e7e3";
}

.icon-yixueyingxiang:before {
  content: "\e858";
}

.icon-yingxiang:before {
  content: "\e813";
}

.icon-xunzhengzhengju:before {
  content: "\e605";
}

.icon-dingqipinggu:before {
  content: "\e6e2";
}

.icon-pingguzhenduan:before {
  content: "\e60d";
}

.icon-zhongliuyixuejianguan-copy:before {
  content: "\ec37";
}

.icon-guizeguanli:before {
  content: "\e600";
}

.icon-xiaoxiguanli:before {
  content: "\e601";
}

.icon-shujujiaohuangongxiang:before {
  content: "\e602";
}

.icon-xitongguanli:before {
  content: "\e603";
}

